.App {
  background-color: #282c34;
  text-align: center;
  min-height: 100vh;
  color: white;
}

.App-header {
  padding-top: 20px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  font-size: calc(25px + 1vmin);
  color: white;
}

.App-logo {
  height: calc(25px + 1vmin);
  margin-right: 10px;
  pointer-events: none;
}
